.logo h1 {
    font-size: 35px;
    margin: 0px;
    font-weight: 600;
}

.logo h1 span:first-of-type {
    padding: 0px 15px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #F4A460;
}

.search_bar input {
    width: 70%;
    height: 30px;
    border-radius: 0;
    padding: 11px;
    /* distance of box from text*/
    font-size: 19px;
    /* text size of text*/
    color: #666;
    /* text color*/
    border: 1px solid #ddd;
    border-right: none;
}

.search_bar input:focus {
    outline: none;
}

.search_bar button {
    height: 53px;
    border-radius: 0;
    border: 1px solid #ddd;
    margin-left: -5px;
    font-size: 22px;
    color: #F4A460;
    background-color: #fff;
}

.file_header {
    margin-top: 25px;
    min-height: 60px;
}

.selected_products {
    text-align: right;
}

.full-banner-wrapper {
    border-top: 1px solid #ddd;
}

.list_header {
    height: 65px;
    background-color: #F4A460;
}

.list_header h4 {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 500;
}

.list_header span {
    float: right;
    padding: 22px;
}

.category-list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border: 1px solid #ddd;
}

.category-list ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 40px;
}

.category-list ul li a {
    color: #333;
    text-decoration: none;
}

.shop-menu {
    display: flex;
}

.left-menu-list {
    width: 70%;
}

.right-menu-list {
    width: 30%;
    direction: rtl;
}

.shop-menu ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.shop-menu ul li {
    min-width: 75px;
    padding: 20px;
}

.shop-menu ul li a {
    color: #333;
    text-decoration: none;
}

.shop-menu ul li a:hover {
    color: #F4A460;
}

.shop-menu ul .dropdown {
    display: none;
    border: 1px solid #ddd;
    position: absolute;
    box-shadow: #ddd 1px 1px 2px;
}

.drop-down-head:hover ul.dropdown {
    display: block;
}

/*  */
.banner {
    position: relative;
    height: 400px;
    float: left;
    width: 100%;
    margin-left: 12px;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #0000003d;
}

.banner-text h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}

.banner-text h3 {
    margin: 0;
    font-size: 50px;
}

.banner-text a.show-now {
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
}

/*  */
.icons-text-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 30px;
    display: flex;
    margin-right: 25px;
}

.icons-text-wrap i {
    font-size: 30px;
    color: #F4A460;
}

.icons-text-wrap span {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.category-item {
    border: 1px solid #ccc;
    padding: 30px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.category-item .product-count {
    text-align: right;
    margin-bottom: 10px;
    font-size: 20px;
}

.category-item .category-img img {
    width: 100%;
}

.category-item .category-type {
    margin-bottom: 0;
    font-size: 20px;
}

/*  */
.offer-banner {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    position: relative;
    margin-right: 25px;
}

.offer-banner img {
    position: absolute;
    max-width: 50%;
    max-height: 90%;
    bottom: 0;
    z-index: 100;
    float: left;
}

.offer-banner .offer-text {
    text-align: right;
    padding: 40px;
}

.offer-banner .offer-text h5 {
    color: #F4A460;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.offer-banner .offer-text h3 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

.offer-banner .offer-text button {
    padding: 15px 30px;
    color: #F4A460;
    border: 1px solid #F4A460;
    background-color: transparent;
    cursor: pointer;
}

.cart {
    border: 1px solid #ddd;
    margin-bottom: 50px;
    margin-right: 20px;
}

.cart img {
    width: 100%;
    margin-right: 25px;
}

.cart .cart-details {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.cart .cart-details .name-head {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.cart .cart-details .cart-price {
    display: flex;
    justify-content: center;
}

.cart .cart-price h6 {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    font-weight: 400;
}

.cart .cart-price h6.past {
    text-decoration: line-through;
    color: #888;
}

.cart .cart-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.cart .cart-footer a {
    color: #F4A460;
    font-size: 17px;
}

.stay-updated {
    margin-bottom: 50px;
    background-color: #F5F5F5;
    margin-left: -5.5%;
    margin-right: -5.5%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 32%;
    padding-right: 32%;
}

.stay-updated .updated-text {
    line-height: 2;
    color: #444;
}

.stay-updated .updated-inputs {
    display: flex;
}

.stay-updated .updated-inputs input {
    flex: 100%;
    border-radius: 0px;
    height: 45px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}

.stay-updated .updated-inputs button {
    border-radius: 0px;
    border: 1px solid #F4A460;
    color: #000;
    background-color: #F4A460;
    padding: 13px 30px;
    font-size: 16px;
}

/*  */

.footer {
    background-color: #F5F5F5;
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 5.5%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.footer .footer-description {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 25px;
}

.footer .contact-list {
    padding: 0;
    list-style-type: none;
    line-height: 2;
}

.footer .contact-list .icon {
    color: #F4A460;
    width: 25px;
}

.social-media i {
    margin: 0;
    padding-right: 18px;
    font-size: 25px;
    margin-top: 15px;
    color: #333;
}

/*  */

.quick-links ul {
    list-style-type: none;
    padding: 0;
    line-height: 2;
}

.quick-links ul a {
    text-decoration: none;
    color: #333;
}

.quick-links ul a i {
    padding-right: 5px;
}

.footer .footer-input {
    border: none;
    width: 80%;
    height: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    padding-left: 15px;
}

.footer .footer-button {
    border: 0;
    background-color: #F4A460;
    padding: 15px;
    width: 85%;
    font-size: 18px;
}

/*  */
.vender-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.vender-list img {
    border: 1px solid #ddd;
}

.copy-right {
    background-color: #F5F5F5;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* Shop File Style */
.shop-header {
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.shop-header h1 {
    text-transform: uppercase;
}

.shop-header h3 {
    color: #F4A460;
    font-weight: 400;
}

.sort-options {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 20px;
}

.sort-options select {
    border: 1px solid #ddd;
    height: 25px;
    width: 150px;
}

/* custom checkbox */
.custom-control-check {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    color: #666;
    margin-bottom: 15px;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0px;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: 3px;
    left: -25px;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    border: #F4A460 solid 1px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #F4A460;
    background-color: #F4A460;
}

.custom-control-label::after {
    position: absolute;
    top: 4px;
    left: -24px;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.custom-control-input~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.filter-product-count {
    border: 1px solid #ddd;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
}

.search-option-input {
    border: 1px solid #ddd;
    height: 30px;
    width: 170px;
    border-right: none;

}

.search-option-button {
    margin-left: -5px;
    height: 34px;
    width: 35px;
    color: #F4A460;
    border-radius: 0;
    border: 1px solid #ddd;
}

.search-and-sort {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* custom checkbox end*/

/* cart details */
.cart-details {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-details table {
    width: 100%;
    border-collapse: collapse;
}

.cart-details table thead {
    color: #444;
    background-color: #F5F5F5;
    text-align: center;
}

.cart-details table thead {
    padding: 15px;
}

.cart-details table tbody {
    text-align: center;
    vertical-align: middle;
}

.cart-details .text-with-img{
    text-align: left;
}
.cart-details table tbody img {
    width: 50px;
    vertical-align: middle;
}

.cart-details table tbody td {
    border: 1px solid #eee;
    display: table-cell;
    padding: 15px;
}

.quantity-input {
    display: flex;
}

.quantity-input button {
    border: 0;
    background-color: #F4A460;
    font-size: 24px;
    width: 30px;
    border-radius: 0px;
}

.quantity-input input {
    width: 50px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    text-align: center;
}

.custom-delete-button {
    padding: 5px;
    background-color: #F4A460;
}

/* cart details end */
/* cart-summary-style */
.cart-summary-wrapper {
    margin-top: 50px;
    margin-left: 20px;
}

.cart-summary-wrapper .coupon-inputs {
    display: flex;
    height: 50px;
}

.cart-summary-wrapper .coupon-inputs input {
    border: 1px solid #ddd;
    border-right: 0;
    padding-left: 20px;
    width: 60%;
}

.cart-summary-wrapper .coupon-inputs button {
    background-color: #F4A460;
    border: 0;
    width: 40%;
}

.cart-summary-wrapper .cart-summary-body {
    border: 1px solid #ddd;
    margin-top: 50px;
    padding: 20px;
}

.cart-summary-wrapper .cart-summary-body .cart-summary-item {
    display: flex;
    justify-content: space-between;
}

.cart-summary-wrapper .total-wrapper{
            border: 1px solid #ddd;
                padding: 20px;
                border-top: none;
}

.cart-summary-wrapper .total-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart-summary-wrapper .total-head h4{
    margin: 0;
}

.cart-summary-wrapper .proceed-input button {
    background-color: #F4A460;
    border: 0;
    padding: 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
/* cart-summary-style end*/
/* Login page style start */
.login-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}

.login-area input {
    width: 30%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 10px;
}

.login-area button {
    width: 32%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #F4A460;
    color: white;
    font-size: 16px;
}
/* Login page style end */

/* Login page style start */
.registration{
    margin-left: 25%;
    margin-right: 25%;
}
.registration .registration-area-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.registration .registration-area-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.registration-area-1 input {
    width: 75%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top:20px ;
}

.registration button {
    width: 77%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #F4A460;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Login page style end */

/*  */
@media only screen and (max-width:768px) {
    .search_bar {
        display: flex;
    }

    .search_bar input {
        flex: 100%
    }

    .selected_products {
        text-align: left;
    }

    .shop-menu ul {
        display: block;
    }

    .shop-menu ul li {
        padding: 10px;
    }

    .right-menu-list {
        margin-right: 5%;
    }

    .banner {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .stay-updated {
        padding-top: 25px;
        padding-bottom: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .vender-list {
        justify-content: start;
        flex-wrap: wrap;
    }

    .footer {
        display: block;
    }

    .copy-right {
        flex-direction: column;
    }

    .vender-list img {
        margin: 5px;
    }
}